.titled-pane > .title {
    -fx-font-size: 16px;
}

.text-field {
    -fx-font-family: Consolas, serif;
    -fx-font-size: 16px;
}

.text-input:error {
    -fx-background-color: red,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.label {
    -fx-font-size: 16px;
}

.valid {
    -fx-background-color: #ffffff;
}

.valid:selected {
    -fx-background-color: #b8cfe5;
}

.valid-has-values {
    -fx-background-color: #26c0ffff;
}

.valid-has-values:selected {
    -fx-background-color: #0000ff;
    -fx-text-fill: #ffffff;
}

.valid-has-function {
    -fx-background-color: #ffc800;
}

.valid-has-function:selected {
    -fx-background-color: #b1682f;
    -fx-text-fill: #ffffff;
}

.valid-automatic {
    -fx-background-color: #00ff00;
}

.valid-automatic:selected {
    -fx-background-color: #179319;
    -fx-text-fill: #ffffff;
}

.invalid {
    -fx-background-color: #ffafaf;
}

.invalid:selected {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
}

.list-cell:invalid {
    -fx-background-color: #ffafaf;
}

.list-cell:invalid:selected {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
}